* {
  padding: 20px;
  font-family: 'Caveat', cursive;
}

body {
  background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: auto;
  -webkit-background-size: cover;
}

h1, h2 {
  text-align: center;
  color: black;
  font-size: 60px;
  -webkit-text-stroke: 2px black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding: 0px 20px;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-color: black;
  text-align: center;
  width: 75px;
  height: 55px;
  text-decoration: none;
}
    
a:hover {
  background-color: #555;
}
