* {
  padding: 20px;
  font-family: 'Caveat', cursive;
}

body {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages8.alphacoders.com%2F592%2F592224.jpg&f=1&nofb=1');
  background-position: auto;
  -webkit-background-size: cover;
}

h1, h2 {
  text-align: center;
  color: white;
  font-size: 70px;
  -webkit-text-stroke: 1px black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding: 0px 20px;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-color: black;
  text-align: center;
  width: 75px;
  height: 55px;
  text-decoration: none;
}
    
a:hover {
  background-color: #555;
}
